/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #4c0863;
    color: white;
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

#menuButton {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

/* Gallery Styles */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1000px;
    margin: auto;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

figcaption {
    font-size: 16px;
    margin-top: 5px;
}

/* Footer Styles */
footer {
    text-align: center; /* Centra el texto */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
    height: 100px; /* Ajusta según sea necesario */
    background-color:  #4c0863; /* Opcional: color de fondo */
    padding: 10px 0;
    position: relative;
    width: 100%;
    color: white
}

/* Responsive Styles */
@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        background: #e5e5e5;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
    }
    
    nav ul.open {
        display: flex;
    }
    
    #menuButton {
        display: block;
    }
}
