/* General */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6; 
}

header {
    background-color: #4A007E;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

header h1 {
    font-size: 1.5rem;
    margin: 0;
}

#hamburgerButton {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease; 
}

#hamburgerButton:hover {
    transform: scale(1.2);
}

nav ul {
    display: none;
    flex-direction: column;
    list-style: none;
    background-color: #4A007E;
    padding: 1rem;
    margin: 0;
    border-top: 1px solid white;  
}

nav ul.visible {
    display: flex;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #FFC107; 
}


main {
    padding: 1rem;
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
}

figure {
    margin: 0;
    text-align: center;
}

figure img {
    max-width: 100%;
    height: auto;
    border: 2px solid #4A007E;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

figcaption {
    background-color: #f3f3f3;
    padding: 0.5rem;
    color: #333;
    font-size: 0.9rem;
}

/* Footer */
footer {
    background-color: #4A007E;
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem; 
}
