body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.review-container {
    background: #e5d7e0;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    background: #4b004b;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

label, fieldset {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

select, input, textarea, button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.rating {
    display: flex;
    justify-content: space-between;
}

button {
    background: #4b004b;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #6a006a;
}
footer {
    background: #4b004b;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
input[type="submit"] {
    background-color: #4b004b;
    color: white;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    width: 100%;
}